<header class="drop-shadow-[0_1x_2px_rgba(0,0,0,0.05)] max-w-full h-[63px] bg-white flex justify-center">
  <nav class="max-w-[1366px] w-full">
    <ul class="flex justify-between place-items-center pt-[19px]">
      <li class="pl-[16px]">
        <a [routerLink]="'/home'">
          <lib-pkm-top-bar [logo]="'/assets/icons/logo.svg'"></lib-pkm-top-bar>
        </a>
      </li>
      <li class="pr-[24px]">
        <a [routerLink]="'/pkm-favorites'">
          <img src="/assets/icons/heart-filled.svg" alt="Pokemones Favoritos">
          <div class="w-6 h-6 bg-[#EF4444] rounded-full absolute"></div>
        </a>
      </li>
    </ul>
  </nav>
</header>
