<header class="drop-shadow-[0_1x_2px_rgba(0,0,0,0.05)] max-w-full h-[63px] bg-white">
  <nav>
    <ul class="flex justify-between place-items-center pt-[19px]">
      <li class="pl-[16px]">
        <a href="#">
          <img src="/assets/icons/logo.svg" alt="">
        </a>
      </li>
      <li class="pr-[24px]">
        <a href="#">
          <img src="/assets/icons/heart-filled.svg" alt="">
          <div class="w-6 h-6 bg-[#EF4444] rounded-full absolute top-2 right-2"></div>
        </a>
      </li>
    </ul>
  </nav>
</header>
