<div class="sm-desktop:px-[77px]">
  <div class="px-4 pt-[19px] tablet:flex tablet:justify-between tablet:pt-[25px]">
    <h1 class="font-bold text-[32px] leading-[42.56px] pb-[18px] tablet:pb-0 sm-desktop:pb-0">Pokemones</h1>
    <div class="flex">
      <app-pkm-search></app-pkm-search>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-4 p-4 tablet:pt-[27px] sm-desktop:pt-[25px]">
    <ng-container  *ngFor="let pkmn of addPkm">
      <app-pkm-cards class="col-span-6 desktop:col-span-4" [pkm]="pkmn"></app-pkm-cards>
    </ng-container>
  </div>
  <div class="flex justify-center px-4 pb-[22px]">
    <button class="w-[328px] h-[40px] bg-black rounded-lg"></button>
  </div>
</div>



