<div class="sm-desktop:px-[77px]">
  <div class="px-4 pt-[19px] tablet:flex tablet:justify-between tablet:pt-[25px]">
    <h1 class="font-bold text-[32px] leading-[42.56px] pb-[18px] tablet:pb-0 sm-desktop:pb-0">Pokemones</h1>
    <div class="flex">
      <app-pkm-search></app-pkm-search>
    </div>
  </div>
  <div infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  class="grid grid-cols-12 gap-4 p-4 tablet:pt-[27px] sm-desktop:pt-[25px]"
  >
    <ng-container *ngIf="!errorSearch">
      <app-pkm-cards *ngFor="let pkmn of addPkm" class="col-span-6 desktop:col-span-4" [pkm]="pkmn"></app-pkm-cards>
    </ng-container>
    <ng-container *ngIf="addPkm.length !== quantityPkm && !errorSearch">
      <app-pkm-skeleton *ngFor="let pkmn of tempQuantityCards" class="col-span-6 desktop:col-span-4"></app-pkm-skeleton>
    </ng-container>
    <ng-container *ngIf="errorSearch">
      <app-pkm-empty class="col-span-12"></app-pkm-empty>
    </ng-container>
  </div>
  <div *ngIf="!errorSearch" class="flex justify-center px-4 pb-[22px]">
    <lib-pkm-button class="w-full tablet:w-[100px] desktop:w-[236px]" [text]="'ver más'" [pkmType]="'default'" (buttonActions)="getPokemons(true)"></lib-pkm-button>
  </div>
</div>



